*{ /*her yer*/
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
}

#menu{
    height: 80px;
    padding: 0 20px;
}

#logo{
    font-size: 30px;
    line-height: 80px; /*satır yüksekliği*/
    color: #003666;
    float: left;
}


nav{
    float: right;
    line-height: 80px;
}

nav a:link{
    text-decoration: none; /*çizgi gitti*/
    margin-right: 25px;
    color: #003666;
}

nav a:hover{
    border-bottom: 2px solid #003666; /*üstüne gidince al çizildi*/
}

nav a:visited{
    text-decoration: none; /*çizgi gitti*/
    margin-right: 25px;
    color: #003666;
}

.ikon{ /*ikon boşlukları*/
    margin-right: 7px;
    font-size: 16px;
}


#anasayfa{
    height: 600px;
    background-image: url("../img/anasayfa.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /*hareket etmicek*/
}

#black{
    height: 600px;
    background-color: black;
    opacity: 0.5; 
}

#icerik{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 20px;
}


#hakkimizda{
    background-color: #f8f9fa;
    padding: 50px;
    text-align: center;
    text-transform: capitalize; /*her kelimenin baş harfi büyük*/
    font-weight: 600;
}

h3{
    font-size: 55px;
    color: #003666;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
}

.container{
    width: 1200px;
    height: auto;
    margin: auto;
}

#sol{
    float: left;
    border-right: 3px solid #445c6e; /*aradaki çizgi*/
    font-size: 30px;
    width: 400px;
    color: #445c6e;
}

#h5sol{
    line-height: 1.6;
    font-size: 22px;
    font-weight: 600;
}

#h5sol, #sag{
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

span{
    font-size: 50px;
    margin-right: 7px;
    line-height: 42px;
    color: #003666;
    font-weight: 600;
    float: left;
}

#sag{
    float: right;
    width: 750px;
    color: #999;
    text-align: left;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 100;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.mt100{
    margin-top: 100px;
}

#pson{
    color: #001eff  ;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.8;
    margin-top: 30px;
    font-weight: 100;
}

#egitimler{
    background-color: #fff;
    padding: 50px;
    text-align: center;
    height: 700px;
}

.card{
    width: 320px;
    height: 350px;
    border: 1px solid #ddd;
    padding: 0;
    display: inline-block; /*kartlar yan yana*/
}

.baslikcard{
    font-size: 15px;
    color: #003666;
}

.cardp{
    color: #888;
}

.card:hover{ /*kartın üstüne gelince çerçeve çıkıyor*/
    border: 2px solid gray;
}

#ekip{
    background-color: #003666;
    padding: 50px;
    height: 850px;
    text-align: center;
}

#ekiph3{
    color: white;
}

.sutun-sol-sag{
    width: 385px;
    float: left;
    padding: 50px;
}

.oval{
    border-radius: 50%;
}

.ekipisim{
    color: white;
    font-size: 25px;
    margin-bottom: 12px;
}

.ekipp{
    color: #888;
    font-size: 18px;
}

.social{
    color: white;
    border: 1px solid white;
    padding: 10px;
    width: 50px;
    border-radius: 5px;
    margin: 5px 10px;
}

.social:hover{
    background-color: #888;
}

.sutun{
    width: 385px;
    float: left;
    padding: 10px;
}

#iletisim{
    background: url(../img/iletisim.jpg);
    background-size: cover;
    padding: 50px;
    height: auto;
    text-align: center;
}

#h3iletisim{
    color: white;
}

#iletisimopak{
    background: rgba(255, 255, 255, 0.2);
    padding: 30px 20px;
    border-radius: 5px;
    margin-bottom: 50px;
    height: 550px;
}

#formgroup{
    width: 700px;
    float: left;
    height: 500px;
    text-align: left;
}

#solform{
    width: 50%;
    float: left;
    padding-right: 5px;
}

#sagform{
    width: 50%;
    float: right;
    padding-left: 5px;
}

.form-control{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    line-height: 1.5;
    color: 495057;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

textarea{
    font-family: Arial;
}

input[type="submit"]{
    cursor: pointer;
    background-color: #445c6e;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px 30px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

#adres{
    width: 450px;
    float: right;
    padding: 30px;
    height: 500px;
    text-align: left;
}

#adresbaslik{
    font-size: 30px;
    color: white;
}

.adresp{
    color: #ddd;
    font-size: 15px;
    letter-spacing: 1.5px;
}

#copyright{
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}


#up{
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 15px;
    padding: 9px 12px;
    margin-top: 20px;
}